<!DOCTYPE html>
<html lang="en">
<head>
  {% include "meta.njk" %}
  {% include "theme-script.njk" %}
  
  <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
  {% include "custom-assets-css.njk" %}
  
  {% block head %}{% endblock %}
</head>
<body>
  {% include "header.njk" %}

  <main class="main">
    {% block content %}{% endblock %}
  </main>
  
  {% include "footer.njk" %}
  {% include "custom-assets-js.njk" %}
</body>
</html>

